# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Download pkg2image
        run: wget -q "https://github.com/$(wget -qO- https://github.com/AppImageCommunity/pkg2appimage/releases/expanded_assets/continuous | grep download/ | cut -d'"' -f2 | sed /aarch/d)" -O pkg2appimage ; chmod +x pkg2appimage

      # Runs a set of commands using the runners shell
      - name: Build AppImage
        run: |
          sudo apt update && sudo apt install zsync libfuse2 graphicsmagick-imagemagick-compat zsync -y
          ./pkg2appimage gitkraken.yml

          export ARCH="$(uname -m)"
          export APPIMAGE_EXTRACT_AND_RUN=1
          export URUNTIME_PRELOAD=0
          UPINFO="gh-releases-zsync|$(echo "$GITHUB_REPOSITORY" | tr '/' '|')|continuous|*$ARCH.AppImage.zsync"
          VERSION=$(wget -qO- https://www.gitkraken.com/download | grep "name: " | cut -d"'" -f2)
          APPIMAGETOOL="https://github.com/pkgforge-dev/appimagetool-uruntime/releases/download/continuous/appimagetool-x86_64.AppImage"
          wget --retry-connrefused --tries=30 "$APPIMAGETOOL" -O ./appimagetool
          chmod +x ./appimagetool*

          echo "Generating AppImage..."
          ./appimagetool --no-appstream -u "$UPINFO" GitKraken.AppDir gitkraken-"$VERSION"-"$ARCH".AppImage

          echo $PWD

      - name: Release
        uses: marvinpinto/action-automatic-releases@6273874b61ebc8c71f1a61b2d98e234cf389b303
        with:
          title: Continuous build
          automatic_release_tag: continuous
          prerelease: false
          draft: false
          files: /home/runner/work/gitkraken_AppImage/gitkraken_AppImage/*.AppImage*
          repo_token: ${{ secrets.GITHUB_TOKEN }}
